* {
    margin: 0;
    padding: 0;
    direction: rtl;
}

#introduction {
    border: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    color: rgb(216, 126, 155);
}

#introduction:hover {
    background-color: white;
}

#login {
    float: left;
    margin-left: -800px;
}

#add {
    float: left;
    background-color: rgb(5, 64, 73);
    color: white;
    border-radius: 10px;
    margin-left: -900px;
}

#add:hover {
    background-color: crimson;
    color: white;
    transform: skewY(50deg);
}

ul {
    list-style-type: none;
    padding: 0px;
    color: aliceblue;
    overflow: hidden;
    margin-top: 1%;
    margin-right: 2%;
}

li {
    float: right;
}

li a {
    border-radius: 10px;
    border: solid rgb(141, 179, 185) 1px;
    transition: all 1s;
    display: inline-block;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    margin-right: 8px;
}

li a:hover {
    background-color: rgb(18, 156, 156);
    color: white;
    border: solid rgb(0, 0, 144) 0.5px;
}

#topic {
    margin-top: 4%;
    border: solid grey 0.5px;
    padding-right: 40%;
    padding-top: 1%;
    background-color: rgb(141, 179, 185);
    height: 10%;
}

#banner {
    margin-top: 2%;
    width: 60%;
    margin-right: 20%;
    border-radius: 7px;
}

.menu {
    margin-top: 2%;
    border: solid rgb(175, 174, 174) 0.5px;
    background-color: rgb(235, 241, 241);
    box-shadow: 1px 1px 1px #000;
    border-radius: 8px;
    height: 40%;
}

#menu {
    margin-top: 4%;
    border-top: solid grey 0.5px;
}

.image-test {
    border-radius: 8px;
    float: left;
    height: 75%;
    margin-top: -6.5%;
    box-shadow: 1px 1px 3px #000;
}

.h2-test {
    padding-right: 19%;
    padding-top: 4%;
}

.h3-test {
    float: right;
    margin-right: 19.3%;
    margin-top: 3%;
    color: rgb(14, 14, 146);
}

.dropdown1-content {
    position: absolute;
    font-size: 13px;
    z-index: 1;
    display: none;
    margin-right: -2%;
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

.dropdown1-content a {
    display: block;
    border-color: violet;
}

.dropdown1:hover .dropdown1-content {
    display: block;
}

.dropdown2-content {
    position: absolute;
    font-size: 13px;
    z-index: 1;
    display: none;
    margin-right: 0.1%;
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

.dropdown2-content a {
    display: block;
    border-color: violet;
}

.dropdown2:hover .dropdown2-content {
    display: block;
}

.modaldialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 0, 0, .8);
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    text-align: center;
}

.modaldialog:target {
    display: inline-block;
    pointer-events: auto;
    opacity: 1;
}

.modaldialog>div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.close {
    background-color: #606061;
    color: #ffffff;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 12px;
    box-shadow: 1px 1px 3px #000;
}

.close:hover {
    background: #00d9ff;
}

#about {
    margin: 5% 10% 5% 10%;
    width: 80%;
    padding: 2%;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 1px 1px 4px #000;
    border-radius: 5px;
}

.map {
    overflow: hidden;
    height: 50%;
    position: relative;
    margin-bottom: -50%;
}

.map iframe {
    height: 80%;
    width: 100%;
    position: absolute;
    margin-bottom: -80%;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgb(78, 151, 155);
    color: white;
    cursor: pointer;
    padding: 0px;
    border-radius: 30px;
    font-size: 18px;
}

#myBtn:hover {
    background-color: #555;
}